<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<h1 class="text-center">BIENVENUE SUR JOKAZ</h1>
<h4 class="text-center">Jouez. Vendez. Chercher. Jouer encore plus !</h4>

<%- include("partials/footer") -%>